<!DOCTYPE html>
<html>
    <head><title>RESTAURANT PICKER <%= @title %></title></head>
    <body>
        <!-- put logo here -->
        <h1><%= @title %></h1>
        <%= yield %>
    </body>
</html>